@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  background-color: #FE4A49;
  color: white;
  width: 200px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;

}


.carde {
  display: flex;
  flex-wrap: wrap;
}